<div class="login-logo">

    <br><br>
    <label>
        <h1 class="form-title">Alterar Curso</h1>
    </label>

</div>




<div class="container">



    <form class="col-xl-10 py-6 center-block">
        <div class="md-form form-sm">
            <i class="fas fa-book-open prefix"></i>
            <input type="text" id="validationServer01" class="form-control" [(ngModel)]="curso.nome" name="curso" />
            <p>Nome do Curso</p>
        </div>

        <div class="md-form form-sm">
            <i class="far fa-comment-alt prefix"></i>
            <input type="text" id="validationServer02" class="form-control" [(ngModel)]="curso.descricao" name="descrição" />
            <p>Descrição do Curso</p>
        </div>

        <div class="md-form form-sm">
            <i class="far fa-clock prefix"></i>
            <input type="tel" id="validationServer03" class="form-control" [(ngModel)]="curso.duracao" name="duracao" />
            <p>Duração do Curso</p>
        </div>



        <div class="md-form form-sm">
            <i class="fas fa-database prefix"></i>
            <input type="text" id="validationServer04" class="form-control" [(ngModel)]="curso.urlImagem" name="url" />
            <p>URL do Curso</p>
            <div class="valid-feedback">
                OK
            </div>
        </div>



        <div class="md-form form-sm">
            <i class="fas fa-dollar-sign prefix"></i>
            <input type="text" id="validationServer05" [(ngModel)]="curso.preco" class="form-control form-control-sm" name="preco" />
            <p>Preço do Curso</p>
        </div>


        <div class="text-center mt-4">
            <button data-dismiss="modal" class="btn btn-default btn-rounded" (click)="updateCurso()">
                Enviar <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
        </div>
    </form>

</div>