<main class="sobre-a-causa">
    <div class="descricao-empresa p-4">
        <h3 id="titulo-causa">
            Conheça as nossas causas 
        </h3>
        <div class="container-fluid">
            <div class="row px-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="sub-titulo text-center">
                                Acessibilidade e inserção no mercado de trabalho
                            </h2>
                            <p class="txt">
                                A <b>ProgrAme.se</b> tem a intenção de contribuir com a inclusão do surdo no mercado de trabalho. De acordo com o IBGE, existem mais de 10 milhões de surdos no Brasil. Acreditamos que esse portador de necessidade especial é tão capaz quanto qualquer outro indivíduo e pode, portanto, destacar-se no mercado de trabalho. Para esse fim, fornecemos educação de qualidade através de uma plataforma totalmente acessível ao surdo, para que ele seja qualificado.
                            </p>
                            <p class="txt">
                                Além disso, 5% de cada curso adquirido em nosso portal é destinado a instituições e ONGs que atuam na inserção de jovens no mercado. Queremos que o mercado de trabalho seja acessível a todos, independentemente da classe social, cor, gênero, orientação sexual e necessidade especial.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img alt="acessibilidade" class="img-causa" src="../../../assets/images/bg-causas.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>