

<main class="sobre-a-causa">
    <div class="descricao-empresa p-6">
        <h3 id="titulo-causa">
            Conheça as nossas causas 
        </h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="sub-titulo">
                                O projeto
                            </h2>
                            <p class="txt">
                                A objetivo do nossos cursos é contribuir com a produção de mudanças capazes de transformar a ótica negativa que é predominante sobre a deficiência. O projeto tem como foco principal a valorização da pessoa com deficiência enquanto individuo, ajudando essa a enfrentar seus desafios com dignidade e confiança, para que eles consigam desempenhar boas funções e serem inseridos no mercado de trabalho.
                            </p>
                            <p class="txt">
                                Outro aspecto interessante é que além de oferecer uma plataforma totalmente acessivel, 5% de cada curso adquirido em nosso portal é destinado para instituições e ongs que atuam na insersão de jovens no mercado, contribuindo assim para um mundo mais inclusivo para todos.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img alt="acessibilidade" class="img-causa" src="../../../assets/images/bg-causas.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>